.navbar {
    ul {
        @include unlist;
        display: flex;
        li {
            flex-grow: 1;
            text-align: center;
            border-top: 7px solid transparent;
        }
        span {
            border-bottom: 1px solid transparent;
        }
        a {
            display: block;
            @include light;
            text-decoration: none;
            padding: rem(20px);
            &:hover, &:focus, &:active {
                span {
                    border-color: $black;
                }
            }
        }
    }
}