.pages-ticks {
    @include unlist;
    @include h1;
    float: left;
    margin-top: 0.5em;
    margin-right: rem(50px);
    height: 100%;
    li {
        margin-bottom: rem(25px);
    }
    span {
        display: block;
        background-color: $black;
        width: rem(10px);
        height: rem(5px);
        opacity: 0.3;
    }
    .current-page span {
        width: rem(15px);
        opacity: 1;
    }
    @include min-width(md) {
        margin-right: rem(100px);
    }
    @include max-width(md) {
        display: none;
    }
}