.page {
    width: 100%;
    h1 {
        @include h2;
        margin-top: 0;
        
        @include min-width(md) {
            margin: 0;
        }
    }
    .text-wrapper {
        @include min-width(md) {
            margin-top: 1em;
        }
        
    }
}

.pages-index {
    display: block;
    @include small;
    @include light;
}