.section-template {
    background-color: $black;
    color: white;
    a {
        color: white;
    }
    .button-link {
        border-color: white;
        &:hover, &:focus, &:active {
            background-color: white;
            color: $black;
        }
    }
    article {
        margin-left: rem(120px);
        max-width: rem(735px);
    }
}

.SectionPageTemplate {
    background-color: $black;
    color: white;
    .line {
        color: white;
    }
    .button-link {
        color: white;
    }
    @include min-width(md) {
        .navbar-item {
            opacity: 0.5;
            transition: opacity 0.25s;
            &:hover, &:focus, &:active {
                opacity: 1;
            }
        }
    }
}