html {
    @include rem-baseline;
    line-height: 1.5;
}

body {
    background-color: white;
    color: $black;
    @include regular;
}

a {
    color: currentColor;
}

.title {
    max-width: $text-width;
}

.next-link {
    @include small;
    text-decoration: none;
    text-transform: uppercase;
    color: currentColor;
    text-decoration: none;
    padding-bottom: 1px;
    &:hover, &:focus, &:active {
        border-bottom: solid currentColor 2px;
    }
}

.button-link {
    @include small;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: rem(50px);
    border: 2px solid currentColor;
    border-radius: 23.5px;
    padding: rem(15px) rem(25px) rem(13px);
    transition: background-color 0.25s, color 0.25s;
    cursor: pointer;
    background-color: transparent;
}