@font-face {
    font-family: 'SofiaPro Regular';
    src: url("./../fonts/SofiaProRegular.eot") format('embedded-opentype'),
         url("./../fonts/SofiaProRegular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'SofiaPro Light';
    src: url("./../fonts/SofiaProLight.eot") format('embedded-opentype'),
            url("./../fonts/SofiaProLight.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'SofiaPro SemiBold';
    src: url("./../fonts/SofiaProSemiBold.eot") format('embedded-opentype'),
         url("./../fonts/SofiaProSemiBold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}